body{
    font-family: Helvetica;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    font-size: 25px;
    margin: 0;
}

.card-group{
    white-space: nowrap;
    padding-left: 30px;
    padding-top: 10px;
    overflow: hidden;
}
.button-area{
    padding: 20px 10px 10px 10px;
}

.text-button{
    width: 80px;
    font-size: 13px;
    padding: 6px 10px;
    border: 1px solid rgba(175, 175, 175, 0.5);
    border-radius: 25px;
}
.card{
    margin-right: 10px;
    display: inline-flex;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 20px;
    height: 200px;
    width: 33%;
    border: 1px solid rgba(175, 175, 175, 0.5);
    border-radius: 30px;
}

h1{
    font-size: 28px;
    margin: 0; 
    padding-top: 170px;
}
.container{
    padding: 35px 25px 0 25px;
}
.header{
    padding: 10px 20px 10px 10px;
}
.content{
    padding-top: 20px;
}
.content-button{
    display: flex;
    background-color: transparent;
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    padding: 20px 20px 20px 20px;
    border: 1px solid rgba(175, 175, 175, 0.5);
    border-radius: 30px;
    align-items: center;
}

h4{
    font-size: 20px;
    margin: 0;
}
.content-button p{
    margin: 10px 0 0 0;
    color: rgb(163, 163, 163);
}
.icon-button{
    background: transparent;
    border: 1px solid rgba(175, 175, 175, 0.5);
    border-radius: 20px;
    padding: 10px;
}
.icon-button h4{
    font-size: 15px;
    text-align: left !important;
}

.botton-page{
    padding-bottom: 35px;
}